*{

    box-sizing: border-box;
}

.calculator{

    height: 300px;
    width: 500px;
    margin:auto auto;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;


}

.btn{

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.calc_button{

    margin:0.5rem;
}

.numInp{

}
