*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 18px;
}


.container{
    width: 18rem;
    margin: 5rem auto;
}


.slider{
    display: flex;
    flex-flow: row;
}

.scale{
    display:flex;
    flex:1;
}

.bar{
    height: 1rem;
    border: black solid 1px;
    background-color: grey;
    border-radius: 5px;
    flex:1;
}

.knob{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: black;
    position: absolute;


}




